{{#todos-count todosCount=props.todosCount as |itemWord|}}<strong>{{props.todosCount}}</strong> {{itemWord}} left{{/todos-count}}
<ul class="filters">
  <li>
    {{#bs-button 
      type="info" 
      class=(if (is-equal props.filter) "active") 
      onClick=(action props.showAll)
    }}
      All
    {{/bs-button}}
  </li>
  <li>
    {{#bs-button 
      type="info" 
      class=(if (is-equal props.filter false) "active") 
      onClick=(action props.showActive)
    }}
      Active
    {{/bs-button}}
  </li>
  <li>
    {{#bs-button 
      type="info" 
      class=(if (is-equal props.filter true) "active") 
      onClick=(action props.showCompleted)
    }}
      Completed
    {{/bs-button}}
  </li>
</ul>
{{#if (gt props.completedCount 0)}}
  <button onclick={{action props.clearCompleted}} class="clear-completed">Clear completed</button>
{{/if}}
